<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs - Learn Route</title>
</head>
<% 
    const name = 'Ronaldo Cris';
    const isAdmin = true;
    const arrSubject = ['NodeJS', 'Angular', 'Mongo', 'Express'];
    const someThing = '<h3>Thẻ h3</h3>';
%>
<body>
    <!-- <%= %> : binding data --> <!-- <%- %> : binding html -->
    <h1>Hello <%= name + 1 %></h1>
    <hr>
    <h1>Thẻ ejs với = <%= someThing %></h1>
    <h1>Thẻ ejs với - <%- someThing %></h1>
    <hr>

    <h2>Xin chào <%= username %></h2> <!-- username lấy từ index.js -->

    <% if(isAdmin){ %>
        <a href="#">Trang quan tri</a>
    <% } else{ %>
        <a href="#">Quay lai</a>
    <% } %>

    <% arrSubject.forEach(subject => { %>
        <h3><%= subject %></h3>
    <% }); %>
    <hr>
    <% arrPeople.forEach(person => { %> <!-- arrPeople lấy từ index.js -->
         <%- include('./partials/personRow.ejs', { person }) %> <!-- truyền person sang personRow.ejs, person <=> person: person -->
    <% }); %>
</body>
</html>